<!doctype html>
<html>
  <head>
    <title>Data Consent Form</title>

    <style type="text/css">
    .title {
      font-size: 2em;
      font-weight: bold;
    }

    .analysis {
      margin-top: 2em;
    }

    .analysis .field {
      margin-bottom: 1em;
    }

    .analysis .field .figure {
      float: right;
    }

    .analysis .field .figure img {
      display: block;
      background-color: #fff;
    }

    .analysis .field .figure .caption {
      display: block;

      font-style: italic;
    }

    .analysis .field .text {
      white-space: pre-line;
    }

    .analysis .header {
      font-weight: bold;
    }

    .consent {
      margin-top: 3em;

      padding: 1em;

      border: solid 1px #000;
    }

    .consent .confirmation-text {
      margin-bottom: 1em;
    }

    .consent .submit {
      margin-top: 1em;
    }
    </style>
  </head>
  <body>
    <div class="title">Convergence/Divergence of Plant Communities with Global Change Factors</div>

    <div class="emails">
      <a href="mailto:lapierre.kimberly@gmail.com">Kimberly La Pierre</a>&nbsp;
      <a href="mailto:meghan.avolio@gmail.com">Meghan Avolio</a>
    </div>

    <div class="analysis">
      <div class="field"><span class="header">Opt-In Analysis #{{analysis.number}}</span></div>
      <div class="field"><span class="header">Title:</span> <span class="value">{{analysis.title}}</span></div>
      <div class="field"><span class="header">Organizers:</span> <span class="value">
        {{#each analysis.organizers}}
        <a href="mailto:{{email}}">{{name}}</a>
        {{/each}}
      </div>
      <div class="field">
        <span class="header">Abstract:</span>
        <div class="figure">
          <img src="/images/figure1.png">
          <span class="caption">Figure 1.</span>
        </div>
        <span class="text">{{analysis.abstract}}</span>
      </div>

      <div class="field"><span class="header">Explanatory variables:</span> {{analysis.variables.explanatory}}</div>

      <div class="field"><span class="header">Response variables:</span> {{analysis.variables.response}}</div>

      <div class="field"><span class="header">Estimated timeline:</span> {{analysis.estimatedTimeline}}</div>
    </div>

    <div class="consent">
      <div class="confirmation-text">I consent that my data can be used for Opt-In Analysis #{{analysis.number}}, as described above.</div>

      <form method="post" action="/consent/update/{{analysis.number}}/{{person.personID}}">
        <table>
        {{#each person.projects}}
          {{#if status.emailSent}}
            <tr class="project">
              <td>{{site}}: {{project}}</td>
              <td>
                <label>
                  <input type="radio" name="{{projectID}}" value="yes" required{{#if status.hasConsented}} checked{{/if}}>Yes
                </label>
              </td>
              <td>
                <label>
                  <input type="radio" name="{{projectID}}" value="no" required{{#if status.hasConsented}}{{else}} checked{{/if}}>No
                </label>
              </td>
            </tr>
          {{/if}}
        {{/each}}
        </table>
        <input type="submit" class="submit" value="Submit">
      </form>
    </div>
  </body>
</html>